.brand {
    display: flex;

    &__wrp {
        background-color: $light-pink;
        flex-grow: 1;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;

        @include tablet {
            padding: 0 0 0 68px;
        }

        @include mobile {
            min-height: 363px;
            padding: 0 0 0 83px;
        }
    }

    &__img {
        width: 50%;

        @include tablet {
            height: auto;
        }

        @include mobile {
            display: none;
        }
    }
    
    &__title {
        font-family: $font-lato;

        text-transform: uppercase;
        position: relative;

        @include font(48px, 50px, 900);

        &::before {
            height: 100%;
            width: 12px;
            background-color: $dark-pink;
            content: '';
            position: absolute;
            left: -40px;
            top: 10px;
        }

        @include tablet {
            @include font(44px, 52px, 900);
        }

        @include mobile {
            @include font(38px, 46px, 900);
        }
    }
    
    &__subtitle {
        display: flex;

        @include tablet {
            @include font(29px, 24px, 700)
        }
    }
}